.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

.table>tr>th,td {
    text-align: center;
    padding: 20px;
}

.pagination {
    text-align: center;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 200px;
}

.page-number {
    cursor: pointer;
    background-color: white;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease;
}

.page-link {
    cursor: not-allowed;
    background-color: white;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease;
}

.active {
    font-size: 1.3em;
    height: 40px;
    width: 40px;
    background-color: #0057b3;
    color: white;
    cursor: not-allowed;
}

button {
    width: 120px;
    padding: 8px 16px;
    background-color: #ffffff00;
    color: #0057b3;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button:hover {
    color: #0056b3;
}

button:disabled {
    background-color: #ffffff00;
    color: #ccc;
    cursor: not-allowed;
}

#prevPage {
    margin-right: 20px;
}

#nextPage {
    margin-left: 20px;
}

.arrow {
    font-size: 1.2em;
}

.nav-text {
    font-size: 0.7em;
    letter-spacing: 0.3em;
}

.title {
    font-size: 1em;
    letter-spacing: 0.3em;
    color: #0057b3;
}

#search-tbl {
    width: 100%;
}

#search-tbl>tr>td {
    text-align: left !important;
}

#search-btn {
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
}

.search-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 100px 0;
}

.search-btn {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

input {
    width: 250px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid gray;
}